@mixin tablet{
  @media all and (min-width: 736px) and (max-device-width: 1200px){
    @content
  }
}

@mixin tabletAndDesktop{
  @media all and (min-width: 736px) {
    @content
  }
}

@mixin desktop{
  @media all and (min-width: 1200px) {
    @content
  }
}

@mixin flex($direction, $gap){
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}


@mixin grid($columns, $width, $gap){
  display: grid;
  grid-template-columns: repeat($columns, $width);
  grid-column-gap: $gap;
}

@mixin adaptiveGrid($mobileColumns: 4, $tabletColumns: 8, $desktopColumns: 12){
  @include grid($mobileColumns, minmax(56px, 88px), 24px);

  @include tablet {
    @include grid($tabletColumns, minmax(56px, 88px), 32px);
  }

  @include desktop {
    @include grid($desktopColumns, minmax(60px, 80px), 32px);
  }
}