@import "Modifier/modifier";

.container_content__one{
  display: grid;
  gap: 40px;
}

.main_block{
  display: grid;
  gap: 15px;
}

.main_header{
  display: grid;
  width: $default_width;
  height: 56px;
  font-size: 48px;
  position: relative;
  line-height: 32px;
}
.main_description{
  width: $default_width;
  height: 32px;
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  opacity: 0.9;
}
.main_text{
  font-size: 16px;
  width: $default_width;
  margin: 50px;
  margin-left: 0px;
  margin-right: 0px;
  line-height: 24px;
  opacity: 0.8;
}