.container_content__three{
  grid-column-start: 2;
  display: grid;
  gap: 40px;
}
.main_header__three{
  line-height: 32px;
  font-size: 24px;
}
.main_block__three{
  display: grid;
  gap: 30px;
}
.block_config{
  display: flex;
}
.config{
  display: grid;
  gap: 10px;
}

.config_header{
  width: 176px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #7D7D7D;
}
.config_setting{
  font-size: 24px;
  font-weight: normal;
}

.main_container__image{
  width: 904px;
  height: 480px;
}
