@import "mixins/media_mixin";
@import "Modifier/modifier";

.section-one{
  @include adaptiveGrid(4, 6, 9);

  h1, h3, p{
    grid-column: 1/-1;

    @include desktop{
      grid-column: 1/7;
    }
  }

  h3{
    margin-top: 16px;
    margin-bottom: 64px;
  }
}

