@import "Modifier/modifier";

.sidebar {
  @media (min-width: 1200px) {
    grid-column: 1/4;
  }

  @media (max-width: 1199px) {
    grid-column: 1/3;
  }

  &__item {
    list-style-type: none;
    cursor: pointer;
    opacity: $mood_opacity;
    margin-top: 16px;

    &:hover {
      opacity: 1;
    }
  }
}