@import "media";
@import "../font/Graphik_LCG_font";
@import "header_style";
@import "sidebar";
@import "main_container_one";
@import "main_container_two";
@import "main_container_three";
@import "main_container_four";

$default: 0;

body {
  margin: $default;
  padding: $default;
  font-family: 'Graphik LCG', sans-serif, Arial;
}
.page{
  padding: 32px 64px;
}


h1,h2,h3,h4,h5,p,ul,ol {
  margin: $default;
  padding: $default;
}

// Миксины сетки

@mixin grid($columns, $width, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, $width);
  grid-column-gap: $gap;
}

@mixin flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

// Сетка страницы

.container {
  @media (min-width: 1200px) {
    @include grid(12, minmax(60px, 80px), 32px);
  }

  @media (max-width: 1199px) {
    @include grid(8, minmax(56px, 88px), 32px);
  }
}

.content {
  @media (min-width: 1200px) {
    grid-column: 4/-1;
  }

  @media (max-width: 1199px) {
    grid-column: 3/-1;
  }
}

//Настройки разделов

.section-one{
  margin-top: 48px;
  margin-bottom: 80px;

  h1, h3, p{
    width: 592px;
  }

  h3{
    margin-top: 16px;
    margin-bottom: 64px;
  }
}

.section-two{
  h1, h3, p{
    width: 592px;
  }
  p{
    margin-top: 24px;
    margin-bottom: 64px;
  }
}

.section-three{
  .title{
    margin-top: 80px;
  }

  p{
    margin: 24px 0 48px 0;
  }
}

.section-four{
  .title{
    margin: 80px 0 48px 0;
  }
  .description{
    margin-bottom: 32px;
  }
  .container-inputs{
    .text-field{

      .text-field__label{
        display: block;
        width: 280px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        opacity: 0.5;
      }

      .text-field__input{
        width: 280px;
        display: block;
        height: calc(2.25rem + 2px);
        padding: 0 0 6px 0;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        border: none;
        border-bottom: 2px solid #AEADAE;
        outline:none;
        cursor: pointer;

        &::placeholder{
          color: #1B1B1B;
          opacity: 1;
        }
        &:hover{
          border-bottom: 2px solid #3E29E3;
        }
        &:focus{
          border-bottom: 4px solid #3E29E3;
          padding-bottom: 4px;
        }
      }
    }
  }
}

.section-five{
  .title{
    margin: 64px 0 24px 0;
  }
  .description{
    margin-bottom: 48px;
  }

  .container{
    @include grid(3, minmax(180px, 272px), 32px);

    .list__one,.list__two,.list__three{
      ul{
        list-style: none;
        li{
          a{
            text-decoration: none;
          }
        }
      }
    }

    .dropdown{
      width: 280px;
      cursor: pointer;
      transition: all .5s ease;
      li{
        list-style: none;
        padding-bottom: 6px;
        border-bottom: 2px solid #7D7D7D;

        &:hover{
          border-bottom: 2px solid #3E29E3;
        }

        a{
          height: 24px;
          text-decoration: none;
          display: block;

          i{
            margin-left: 105px;
          }
        }

        ul{
          display: none;
        }
      }
    }

    //.list__two{
    //  width: 280px;
    //  grid-column-start: 2;
    //  select{
    //    width: 280px;
    //  }
    //}

    .list__three{

      .dropdown-menu{
        display: block;
        width: 280px;
        cursor: pointer;
        transition: all .5s ease;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
        padding-top: 8px;
        li{
          padding: 8px 24px 8px 24px;
          transition: all .2s ease-in-out;
          cursor: pointer;
          height: 24px;
          &:hover{
            color: white;
            background-color: #3E29E3;
          }
        }
      }
    }
  }
}

.section-six{
  .title{
    margin: 64px 0 32px 0;
  }

  .radio-buttons-checkboxes{
    @include grid(7, minmax(60px, 80px), 32px);

    .radio-buttons {
      display: grid;
      grid-column: 1/4;
      gap: 24px;

      .block-inputs {
        display: flex;

        &:hover {
          opacity: 1;
        }

        input {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }

        input + label {
          display: inline-flex;
          align-items: center;
          user-select: none;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }

          input:checked + label {
            border-color: #3E29E3;
            background-color: #3E29E3;
            opacity: 1;
          }
        }

        input + label::before {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          flex-grow: 0;
          border: 2px solid #adb5bd;
          border-radius: 0.25em;
          margin: 0 16px 0 0;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;

        }

        input + label:hover::before {
          border: 2px solid #3E29E3;
        }

        input:checked + label::before {
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          border-color: #3E29E3;
          background-color: #3E29E3;
          opacity: 1;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 55% 45%;
          background-image: url("../../assets/image/check/check-mark.png");
        }

      }
    }
    .checkboxes{
      display: grid;
      grid-column: 5/-1;
      gap: 24px;

      .block-inputs{
        display: flex;
      }

      .block-inputs {
        display: flex;

        &:hover {
          opacity: 1;
        }

        input {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }

        input + label {
          display: inline-flex;
          align-items: center;
          user-select: none;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }

          input:checked + label {
            border-color: #3E29E3;
            background-color: #3E29E3;
            opacity: 1;
          }
        }

        input + label::before {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          flex-grow: 0;
          border: 2px solid #adb5bd;
          border-radius: 50%;
          margin: 0 16px 0 0;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }

        input + label:hover::before {
          border: 2px solid #3E29E3;
        }

        input:checked + label::before {
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          border-color: #3E29E3;
          opacity: 1;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url("../../assets/image/check/oval-mark.png");
        }
      }
    }
  }
}

.section-seven{

  .title{
    margin: 64px 0 32px 0;
  }

  .accordion{
    grid-column: 4/-1;
    width: 904px;
    border-bottom: 1px solid #CBCBCC;
    padding-bottom: 15px;
    opacity: 0.5;

    &:hover{
      cursor: pointer;
      border-bottom-color: #3E29E3;
      opacity: 1;
    }

    .block{
      height: 24px;

      .block-title{
        display: flex;

        .arrow{
          width: 9px;
          height: 6px;
          margin: auto;
          margin-right: 0;
        }
      }
    }

    p{
      width: 592px;
      display: none;
    }
  }
}

.adaptive-group {
  margin-top: 64px;

  &:first-child {
    margin-top: 48px;
  }
}

.device {
  @include grid(4, minmax(152px, 192px), 32px);
  margin-top: 32px;

  &__item {
    @include flex(column, 8px);
  }

  &-image {
    max-width: 100%;
    margin-top: 48px;
  }
}

.tab {
  &__header {
    @include flex(row, 32px);
  }

  &__content {
    @include grid(9, minmax(60px, 80px), 32px);
    margin-top: 48px;
    grid-row-gap: 48px;
  }

  .typography-title {
    width: 280px;
    margin-right: 32px;
    font-weight: normal;
    opacity: 0.5;
  }

  h2 {
    width: 592px;
    grid-column: 4/-1;
  }
}

.title {
  font-family: 'Graphik LCG', sans-serif, Arial;

  &_h1 {
    font-size: 48px;
    line-height: 56px;
  }

  &_h2 {
    font-size: 32px;
    line-height: 40px;
  }

  &_h3 {
    font-size: 24px;
    line-height: 32px;
  }

  &_h4 {
    font-size: 18px;
    line-height: 29px;
  }
}

.text {
  font-family: 'Graphik LCG', sans-serif, Arial;

  &_lead {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
  }

  &_lg {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }

  &_md {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  &_sm {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
}




