@import "media";
@import "../font/Graphik_LCG_font";
@import "header_style";
@import "sidebar";
@import "main_container_one";
@import "main_container_two";
@import "main_container_three";
@import "main_container_four";

$default: 0;

body {
  margin: $default;
  padding: $default;
  font-family: 'Graphik LCG', sans-serif, Arial;
}

.page {
  min-width: 296px;
  max-width: 424px;
  margin: auto;
  padding: 16px;

  @include tablet {
    min-width: 672px;
    max-width: 928px;
    padding: 32px 64px;
  }

  @include desktop {
    min-width: 1072px;
    max-width: 1312px;
    padding: 32px 64px;
  }
}


h1,h2,h3,h4,h5,p,ul,ol {
  margin: $default;
  padding: $default;
}

// Миксины сетки

@mixin grid($columns, $width, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, $width);
  grid-column-gap: $gap;
}

@mixin flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

// Сетка страницы

.container {
  @media (min-width: 1200px) {
    @include grid(12, minmax(60px, 80px), 32px);
  }

  @media (max-width: 1199px) {
    @include grid(8, minmax(56px, 88px), 32px);
  }
}

.content {
  @media (min-width: 1200px) {
    grid-column: 4/-1;
  }

  @media (max-width: 1199px) {
    grid-column: 3/-1;
  }
}

//Настройки разделов

.section-one{
  margin-top: 48px;
  margin-bottom: 80px;

  h1, h3, p{
    width: 592px;
  }

  h3{
    margin-top: 16px;
    margin-bottom: 64px;
  }
}

.section-two{
  h1, h3, p{
    width: 592px;
  }
  p{
    margin-top: 24px;
    margin-bottom: 64px;
  }
}

.section-three{
  .title{
    margin-top: 80px;
  }

  p{
    margin: 24px 0 48px 0;
  }
}

.section-four{
  .title{
    margin: 80px 0 48px 0;
  }
  .description{
    margin-bottom: 32px;
  }
  .container-inputs{
    .text-field{

      .text-field__label{
        display: block;
        width: 280px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        opacity: 0.5;
      }

      .text-field__input{
        width: 280px;
        display: block;
        height: calc(2.25rem + 2px);
        padding: 0 0 6px 0;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        border: none;
        border-bottom: 2px solid #AEADAE;
        outline:none;
        cursor: pointer;

        &::placeholder{
          color: #1B1B1B;
          opacity: 1;
        }
        &:hover{
          border-bottom: 2px solid #3E29E3;
        }
        &:focus{
          border-bottom: 4px solid #3E29E3;
          padding-bottom: 4px;
        }
      }
    }
  }
}

.section-five{
  .title{
    margin: 64px 0 24px 0;
  }
  .description{
    margin-bottom: 48px;
  }

  .container{
    @include grid(3, minmax(180px, 272px), 32px);

    .list__one,.list__two,.list__three{
      ul{
        list-style: none;

        li{
          justify-content: space-between;

          a{
            text-decoration: none;
          }
        }
      }

      .dropdown-menu{
        display: none;
      }
    }

    .dropdown{
      width: 280px;
      cursor: pointer;

      li{
        display: flex;
        list-style: none;
        padding-bottom: 6px;
        border-bottom: 2px solid #7D7D7D;

        &:hover{
          border-bottom: 2px solid #3E29E3;
        }

        a{
          height: 24px;
          text-decoration: none;
          display: block;

        }
        i{

          img{
            transition: 0.5s;
            transform: rotate(-0deg);
          }
        }

        ul{
          display: none;
        }
      }
    }

    .list__one{
      .dropdown{
        &_down{
          li{
            border-bottom: 2px solid #3E29E3;
          }
          i{
            img{
              transition: 0.5s;
              transform: rotate(180deg);
            }
          }
        }
      }

      .dropdown-menu{
        position: absolute;
        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        width: 280px;
        height: 0;
        cursor: pointer;

        &__active{
          height: auto;
          padding-top: 8px;

          animation-name: fadeInDown;
          -webkit-animation-name: fadeInDown;
          animation-duration: 1s;
          animation-fill-mode: both;
          -webkit-animation-duration: 1s;
          -webkit-animation-fill-mode: both;

          @keyframes fadeInDown {
            from {
              transform: scaleY(0);
            }
            to {
              transform: scaleY(1);
              box-shadow: 0 1px 2px rgb(204, 204, 204);
            }
          }

          li{
            padding: 8px 24px 8px 24px;
            cursor: pointer;
            height: 24px;

            &:hover{
              color: white;
              background-color: #3E29E3;
            }
          }
        }

        &__close{
          overflow: hidden;
          height: 0;

          li{
            padding: 8px 24px 8px 24px;
            cursor: pointer;
            height: 24px;

            &:hover{
              color: white;
              background-color: #3E29E3;
            }
          }
        }
      }
      .dropdown-menu__active, .dropdown-menu__close{
        transform-origin: 50% 0%;
      }
    }
  }
}

.section-six{
  .title{
    margin: 232px 0 32px 0;
  }

  button{
    color: white;
    width: 148px;
    height: 56px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(#3D28E3,#DD80ED);

    span{
      width: 84px;
      height: 24px;
    }
  }
}

.section-seven{
  .title{
    margin: 64px 0 32px 0;
  }

  .radio-buttons-checkboxes{
    @include grid(7, minmax(60px, 80px), 32px);

    .radio-buttons {
      display: grid;
      grid-column: 1/4;
      gap: 24px;

      .block-inputs {
        display: flex;

        input {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }

        input[type=checkbox] + label {
          display: inline-flex;
          align-items: center;
          user-select: none;
          color: #1B1B1B;

          &:hover {
            opacity: 1;
          }

          span{
            opacity: 0.5;
          }

          span:hover{
            opacity: 1;
          }

          input[type=checkbox]:checked + label{
            border-color: #3E29E3;
            background-color: #3E29E3;
          }
        }

        input + label::before {
          cursor: pointer;
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          flex-grow: 0;
          border: 2px solid #adb5bd;
          border-radius: 0.25em;
          margin: 0 16px 0 0;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }

        input + label:hover::before {
          border: 2px solid #3E29E3;
        }

        input:checked + label::before {
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          border-color: #3E29E3;
          background-color: #3E29E3;
          opacity: 1;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 55% 45%;
          background-image: url("../../assets/image/check/check-mark.png");
        }
      }
    }
    .checkboxes{
      display: grid;
      grid-column: 5/-1;
      gap: 24px;

      .block-inputs{
        display: flex;
      }

      .block-inputs {
        display: flex;

        &:hover {
          opacity: 1;
        }

        input {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }

        input + label {
          display: inline-flex;
          align-items: center;
          user-select: none;

          span{
            opacity: 0.5;
          }

          span:hover{
            opacity: 1;
          }

          input:checked + label {
            border-color: #3E29E3;
            background-color: #3E29E3;
            opacity: 1;
          }
        }

        input + label::before {
          cursor: pointer;
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          flex-grow: 0;
          border: 2px solid #adb5bd;
          border-radius: 50%;
          margin: 0 16px 0 0;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }

        input + label:hover::before {
          border: 2px solid #3E29E3;
        }

        input:checked + label::before {
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          border-color: #3E29E3;
          opacity: 1;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url("../../assets/image/check/oval-mark.png");
        }
      }
    }
  }
}

.section-eight{

  .title{
    margin: 64px 0 32px 0;
  }

  .accordion{
    //width: 904px;
    border-bottom: 1px solid #CBCBCC;
    padding-bottom: 15px;
    overflow: hidden;

    &:hover{
      transition: all 100ms ease-in-out;
      cursor: pointer;
      border-bottom-color: #3E29E3;

      .block .block-title{
        color: #1B1B1B;
      }
    }

    .block{
      .block-title{
        display: flex;
        color: #7D7D7D;

        .arrow{
          width: 9px;
          height: 6px;
          margin: auto;
          margin-right: 0;
        }
      }
    }

    #accordion-text {
      @include grid(9, minmax(60px, 80px), 32px);
    }

    p{
      grid-column: 1/7;
      transition: all 500ms ease-in-out;
      padding: 24px 0 30px 0;
      display: none;
    }

    &_open{
      border-bottom: 2px solid #3E29E3;
      transition: all 500ms ease-in-out;

      .block .block-title{
        color: #3E29E3;

        .arrow {
          transform: rotate(180deg);
        }
      }

      p{
        //max-height: 100%;
        //height: inherit;
        //transform: scaleY(1);
        //opacity: 1;
        display: block;
      }
    }
  }
}

.adaptive-group {
  margin-top: 64px;

  &:first-child {
    margin-top: 48px;
  }
}

.device {
  @include grid(4, minmax(152px, 192px), 32px);
  margin-top: 32px;

  &__item {
    @include flex(column, 8px);
  }

  &-image {
    max-width: 100%;
    margin-top: 48px;
  }
}

.tab {
  &__header {
    @include flex(row, 32px);
  }

  &__content {
    @include grid(9, minmax(60px, 80px), 32px);
    margin-top: 48px;
    grid-row-gap: 48px;
  }

  .typography-title {
    width: 280px;
    margin-right: 32px;
    font-weight: normal;
    opacity: 0.5;
  }

  h2 {
    width: 592px;
    grid-column: 4/-1;
  }
}

.title {
  font-family: 'Graphik LCG', sans-serif, Arial;

  &_h1 {
    font-size: 48px;
    line-height: 56px;
  }

  &_h2 {
    font-size: 32px;
    line-height: 40px;
  }

  &_h3 {
    font-size: 24px;
    line-height: 32px;
  }

  &_h4 {
    font-size: 18px;
    line-height: 29px;
  }
}

.text {
  font-family: 'Graphik LCG', sans-serif, Arial;

  &_lead {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
  }

  &_lg {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }

  &_md {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  &_sm {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
}




