@import "media";
@import "../font/Graphik_LCG_font";
@import "header_style";
@import "sidebar";
@import "main_container_one";
@import "main_container_two";
@import "main_container_three";
@import "main_container_four";

$default: 0;

body {
  margin: $default;
  padding: $default;
  font-family: 'Graphik LCG', sans-serif, Arial;
}
.page{
  padding: 32px 64px;
}


h1,h2,h3,h4,h5,p,ul,ol {
  margin: $default;
  padding: $default;
}

// Миксины сетки

@mixin grid($columns, $width, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, $width);
  grid-column-gap: $gap;
}

@mixin flex($direction, $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

// Сетка страницы

.container {
  @media (min-width: 1200px) {
    @include grid(12, minmax(60px, 80px), 32px);
  }

  @media (max-width: 1199px) {
    @include grid(8, minmax(56px, 88px), 32px);
  }
}

.content {
  @media (min-width: 1200px) {
    grid-column: 4/-1;
  }

  @media (max-width: 1199px) {
    grid-column: 3/-1;
  }
}

//Настройки разделов

.section-one{
  margin-top: 48px;
  margin-bottom: 80px;

  h3{
    margin-top: 16px;
    margin-bottom: 64px;
  }
}

.section-two{
  p{
    margin-top: 24px;
    margin-bottom: 64px;
  }
}

.section-three{
  .title{
    margin-top: 80px;
  }

  p{
    margin-top: 24px;
    margin-bottom: 48px;
  }
}

.section-four{

  .title{
    margin-top: 64px;
    margin-bottom: 32px;
  }

  .accordion{
    grid-column: 4/-1;
    width: 904px;
    border-bottom: 1px solid #CBCBCC;
    padding-bottom: 15px;
    opacity: 0.5;

    &:hover{
      cursor: pointer;
      border-bottom-color: #3E29E3;
      opacity: 1;
    }

    .block{
      height: 24px;

      .block-title{
        display: flex;

        .arrow{
          width: 9px;
          height: 6px;
          margin: auto;
          margin-right: 0;
        }
      }
    }

    p{
      width: 592px;
      display: none;
    }
  }
}

.adaptive-group {
  margin-top: 64px;

  &:first-child {
    margin-top: 48px;
  }
}

.device {
  @include grid(4, minmax(152px, 192px), 32px);
  margin-top: 32px;

  &__item {
    @include flex(column, 8px);
  }

  &-image {
    max-width: 100%;
    margin-top: 48px;
  }
}

.tab {
  &__header {
    @include flex(row, 32px);
  }

  &__content {
    @include grid(9, minmax(60px, 80px), 32px);
    margin-top: 48px;
    grid-row-gap: 48px;
  }

  .typography-title {
    width: 280px;
    margin-right: 32px;
    grid-column: 1/4;
    font-weight: normal;
    opacity: 0.5;
  }

  h2 {
    width: 592px;
    grid-column: 4/-1;
  }
}

.title {
  font-family: 'Graphik LCG', sans-serif, Arial;

  &_h1 {
    font-size: 48px;
    line-height: 56px;
  }

  &_h2 {
    font-size: 32px;
    line-height: 40px;
  }

  &_h3 {
    font-size: 24px;
    line-height: 32px;
  }

  &_h4 {
    font-size: 18px;
    line-height: 29px;
  }
}

.text {
  font-family: 'Graphik LCG', sans-serif, Arial;

  &_lead {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
  }

  &_lg {
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }

  &_md {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }

  &_sm {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
}




